<!DOCTYPE html>
<html>
    <head>
        @using OrderTracker.Models;
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
        <title>Vendors</title>
    </head>
    <body>
       <div class="container">
            <div class="well">
                <h2>Orders for @Model["vendor"].Name</h2>
                <h2>Description: @Model["vendor"].Description</h2>
                <h2>Orders: @Model["vendor"].Orders.Count</h2>
                <div id="order-list">
                    <ol>
                    @foreach (Order order in @Model["orders"])
                    {
                    <li><a href='/vendors/@Model["vendor"].ID/orders/@order.ID'>@order.Description</a></li>
                    }
                    </ol>
                </div>
            </div>

            <h2><a href='/vendors/@Model["vendor"].ID/orders/new'>Add an order</a></h2>
            <h2><a href='/vendors'>Return to vendor info</a></h2>
            <h2><a href='/'>Return Home</a></h2>
       </div>
    </body>
</html>